@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body{
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

.row {
    display: flex; 
    flex-wrap: wrap;
}

.row:nth-child(even) .col.col-smal {
    order: 1;
}

.graphiches {
    display: block;
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

.col {
    position: relative;
}

.col.col-smal {
     width: 40%;
}

.col.col-big{
     width: 60%;
}

.row .col .layer {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    
    display: flex;
    box-sizing: border-box;
    padding: 60px;
}

.layer .layer__box {
    align-self: center;
}
.row .col .layer h1 {
    font-size: 1.75em;
    margin: 30px 0px;
}

.row .col .layer p span {
    display: inline-block;
    padding: 25px 0 25px 0;
    position: relative;
}

.row .col .layer p span:after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    top: 0px;
    width: 122%;
    background-color: white;
}

.row .col .layer p {
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    margin-top: 0;
    text-transform: uppercase;
    
    
}


.layer.aliquam{
   background-color:  rgba(4, 199, 233, 0.473);
}

.layer.tempus{
    background-color:  rgba(65, 4, 233, 0.459);
 }
 .layer.ipsum{
    background-color:  rgba(233, 57, 4, 0.473);
 }

 .layer.magna{
    background-color:  rgba(233, 153, 4, 0.473);
 }
 .layer.consequat{
    background-color:  rgba(55, 70, 201, 0.473);
 }
 .layer.etiam{
    background-color:  rgba(4, 233, 80, 0.473);
 }

 .layer:hover {
    background-color: transparent !important;
 }

 @media only screen and (max-width: 1660px){
    .col.col-smal {
        width: 40%;
   }
   .graphiches {
    height: 47vh;
}
   .col.col-big{
    width: 60%;
    }
    .graphiches {
        height: 47vh;
    }
 }

 @media only screen and (max-width: 1200px){
    .col.col-smal {
        width: 50%;
   }
   .graphiches {
    height: 40vh;
}
   .col.col-big{
    width: 50%;
    }
    .graphiches {
        height: 40vh;
    }
 }

 @media only screen and (max-width: 740px){
    .col.col-smal {
       width: 50%;
   }
   .graphiches {
    height: 30vh;
}
    .col.col-big{
        width: 50%;
        
    }
    .graphiches {
        height: 30vh;
    }
 }

 @media only screen and (max-width: 600px){
    .col.col-smal {
       width: 100%;
   }
   .graphiches {
    height: 45vh;
}
    .col.col-big{
        width: 100%;
        
    }
    .graphiches {
        height: 45vh;
    }
 }


 

.col-1 {
    padding: 10em 0 10em 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}


.col-1 h2 {
         font-size: 3.25em;
         color: red;

}

.col-1 .description p {
    color: blue;
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}
 


.section-row__col {
    height: 100px;
    background-color: blue;
}

.section-row__col .col-2 h3 {
    color: red;
    font-size:30px;
}

.section-row__col .col-2{
    margin: 40px 40px 0 0;
}