@import url('reset.css');

.wrapper.menu {
    padding: 30px;
    transform: translateY(100%);
    z-index: 777;
    position: relative;
}

.container {
    max-width: 1200px;
    margin:  auto;  
}

.row {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-evenly;
}



.col .text{
    display: inline-block;
    font-style: 30px;
}

.col .text a{
    display: block;
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1em;
    outline: 0;
    color: #323338;
}

.col .text a:hover{ 
  background-color: green;
}

.wrapper.image{
   width: 100%;
   transform: translateY(-123px);
}

.wrapper .image img {
     width: 100%;
}


@media  (min-width: 1000px) {
    body {
      background-color: lightgreen;
    }
    .wrapper.phone{
        display: none;
    }
}

@media  (max-width: 1000px) {

    .wrapper.phone{
        border-radius: 100px;
        background-color: cornflowerblue;
        width: 100%;
        transform: translateY(-250px);
    }        
    .row {
         display: flex;
         flex-wrap:wrap;
         flex-direction:column;
         justify-content: space-between;
    }
    .col {
        margin-bottom: 50px;
    }

    .wrapper.image {
        display: none;
    }
}

.animation{
  color: black;
  border-radius: 10px;
  animation: animation 2s infinite;
}

@keyframes animation {
    0%   {background: rgb(255, 8, 0); }
    25%  {background: rgb(179, 255, 0); }
    50%  {background: rgb(0, 255, 21); }
    75%  {background: rgb(0, 26, 255); }
    100% {background: rgb(255, 0, 179); }
}