@import url('reset.css');

.wrapper.menu {
    padding: 30px;
    transform: translateY(100%);
    z-index: 777;
    position: relative;
}

.container {
    max-width: 1200px;
    margin:  auto;  
}

.row {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-evenly;
}

.col.one{
    box-shadow:  green 0px 0px 76px 38px ;
    border: solid 3px yellow;
    background-color: red;
    color: red;
}

.col.two{
    box-shadow:  green 0px 0px 76px 38px ;
    border: solid 3px red;
    background-color: yellow;
    color: red;
}

.col.Three{
    box-shadow:  green 0px 0px 76px 38px ;
    border: solid 3px yellow;
    background-color: red;
    color: red;
}

.col .text{
    display: inline-block;
    font-style: 30px;
}

.col .text a{
    display: block;
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1em;
    outline: 0;
    color: #323338;
}

.col .text a:hover{ 
  background-color: green;
}

.wrapper.image{
   width: 100%;
   transform: translateY(-123px);
}

.wrapper .image img {
     width: 100%;
}


@media  (min-width: 1000px) {
    body {
      background-color: lightgreen;
    }
    .wrapper.phone{
        display: none;
    }
}

@media  (max-width: 1000px) {

    .wrapper.phone{
        width: 100%;
        transform: translateY(-250px);
    }        
    .row {
         display: flex;
         flex-wrap:wrap;
         flex-direction:column;
         justify-content: space-between;
    }
    .col {
        margin-bottom: 50px;
    }

    .wrapper.image {
        display: none;
    }
}